@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

        body {
            font-family: 'New Tegomin', serif;
            margin: 0rem;
        }
        #title {
            background-color: #f9f9f9;
            background-image: linear-gradient(315deg, #df6666 0%, #02a388 74%);
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        #btn-translate {
            background-color: #f9f9f9;
            background-image: linear-gradient(315deg, #df6666 0%, #02a388 74%);
            font-family: 'New Tegomin', serif;
            font-weight: bold;
            border: 2px solid black;
            position: absolute;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 11rem;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        #about {
            background-color: #f9f9f9;
            background-image: linear-gradient(315deg, #df6666 0%, #02a388 74%);
            font-weight: bold;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-right: 5rem;
            padding-left: 5rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            
        }

        #trans {
            /* background-image: linear-gradient(to right, rgb(235, 76, 187) , rgb(238, 238, 101)); */
            background-color: #f9ea8f;
            background-image: linear-gradient(315deg, #e9b91b 40%, #f03473 54%);
            
            height: 52vh;
            padding-top: 1.2rem;
            background-color: rgba(31, 30, 30, 0.4);
        }

        #trans-text {
            font-size: larger;
            font-weight: bold;
            margin-top: 7rem;
            text-align: center;
            
        }

        textarea {
           width: 78%;
           height: 10vh;
           border: 2px solid black;
           margin-right: 10%;
           margin-left: 10%;
           margin-top: 1.5rem;
           
        }

        #output {
            background-color: white;
            border: 2px solid black;
            height: 10vh;
            width: 78%;
            margin-left: 10%;
            margin-right: 10%;
            
        }